In [20]:
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
df_supermarket = pd.read_json('supermarket.json')

print(df_supermarket.head)

<bound method NDFrame.head of                                                lojas
0  {'id': 1, 'dados_mensais': [{'mes': 1, 'fatura...
1  {'id': 2, 'dados_mensais': [{'mes': 1, 'fatura...
2  {'id': 3, 'dados_mensais': [{'mes': 1, 'fatura...
3  {'id': 4, 'dados_mensais': [{'mes': 1, 'fatura...
4  {'id': 5, 'dados_mensais': [{'mes': 1, 'fatura...>

In [25]:
# Função para extrair os dados de um determinado mês para uma loja específica
def extrair_dados_loja_mes(loja_id, mes):
    for loja in df_supermarket['lojas']:
        if loja['id'] == loja_id:
            for dados_mensais in loja['dados_mensais']:
                if dados_mensais['mes'] == mes:
                    return dados_mensais
    return None

In [26]:
extrair_dados_loja_mes(5,8)

{'mes': 8,
 'faturamento': {'higiene_e_saude': 14200,
  'limpeza': 19800,
  'bebidas': 8200,
  'carne_e_laticinios': 4900,
  'alimentacao': 5100},
 'gastos_funcionarios': 28000,
 'despesas_fornecedores': 23000,
 'gastos_diversos': 8500}

In [30]:
# Função para calcular lucro mensal e anual
def calcular_lucro(df_supermarket):
    resultados = []
    for loja in df_supermarket['lojas']:
        id_loja = loja['id']
        lucro_anual = 0
        detalhes_mensais = []
        
        for mes in loja['dados_mensais']:
            mes_num = mes['mes']
            faturamento_total = sum(mes['faturamento'].values())
            gastos_totais = mes['gastos_funcionarios'] + mes['despesas_fornecedores'] + mes['gastos_diversos']
            lucro_mensal = faturamento_total - gastos_totais
            lucro_anual += lucro_mensal
            
            detalhes_mensais.append({
                'mes': mes_num,
                'faturamento_total': faturamento_total,
                'gastos_totais': gastos_totais,
                'lucro_mensal': lucro_mensal
            })
        
        resultados.append({
            'id_loja': id_loja,
            'lucro_anual': lucro_anual,
            'detalhes_mensais': detalhes_mensais
        })
    
    return resultados

# Chamar a função e exibir os resultados
resultados = calcular_lucro(df_supermarket)
for resultado in resultados:
    print(f"Loja ID: {resultado['id_loja']}")
    print(f"Lucro Anual: {resultado['lucro_anual']}")
    for detalhe in resultado['detalhes_mensais']:
        print(f"Mês: {detalhe['mes']}, Faturamento Total: {detalhe['faturamento_total']}, Gastos Totais: {detalhe['gastos_totais']}, Lucro Mensal: {detalhe['lucro_mensal']}")
    print()

Loja ID: 1
Lucro Anual: 26200
Mês: 1, Faturamento Total: 53800, Gastos Totais: 40000, Lucro Mensal: 13800
Mês: 2, Faturamento Total: 53300, Gastos Totais: 42100, Lucro Mensal: 11200
Mês: 3, Faturamento Total: 53800, Gastos Totais: 44200, Lucro Mensal: 9600
Mês: 4, Faturamento Total: 53700, Gastos Totais: 46300, Lucro Mensal: 7400
Mês: 5, Faturamento Total: 53800, Gastos Totais: 48400, Lucro Mensal: 5400
Mês: 6, Faturamento Total: 53200, Gastos Totais: 50500, Lucro Mensal: 2700
Mês: 7, Faturamento Total: 54200, Gastos Totais: 52600, Lucro Mensal: 1600
Mês: 8, Faturamento Total: 53500, Gastos Totais: 54700, Lucro Mensal: -1200
Mês: 9, Faturamento Total: 53800, Gastos Totais: 56800, Lucro Mensal: -3000
Mês: 10, Faturamento Total: 54100, Gastos Totais: 58900, Lucro Mensal: -4800
Mês: 11, Faturamento Total: 54200, Gastos Totais: 61000, Lucro Mensal: -6800
Mês: 12, Faturamento Total: 53400, Gastos Totais: 63100, Lucro Mensal: -9700

Loja ID: 2
Lucro Anual: 48400
Mês: 1, Faturamento Total: 53200, Gastos Totais: 38000, Lucro Mensal: 15200
Mês: 2, Faturamento Total: 53200, Gastos Totais: 40100, Lucro Mensal: 13100
Mês: 3, Faturamento Total: 53300, Gastos Totais: 42200, Lucro Mensal: 11100
Mês: 4, Faturamento Total: 53900, Gastos Totais: 44300, Lucro Mensal: 9600
Mês: 5, Faturamento Total: 53000, Gastos Totais: 46400, Lucro Mensal: 6600
Mês: 6, Faturamento Total: 54400, Gastos Totais: 48500, Lucro Mensal: 5900
Mês: 7, Faturamento Total: 53000, Gastos Totais: 50600, Lucro Mensal: 2400
Mês: 8, Faturamento Total: 53500, Gastos Totais: 52700, Lucro Mensal: 800
Mês: 9, Faturamento Total: 54100, Gastos Totais: 54800, Lucro Mensal: -700
Mês: 10, Faturamento Total: 54100, Gastos Totais: 56900, Lucro Mensal: -2800
Mês: 11, Faturamento Total: 53200, Gastos Totais: 59000, Lucro Mensal: -5800
Mês: 12, Faturamento Total: 54100, Gastos Totais: 61100, Lucro Mensal: -7000

Loja ID: 3
Lucro Anual: -127500
Mês: 1, Faturamento Total: 53100, Gastos Totais: 50000, Lucro Mensal: 3100
Mês: 2, Faturamento Total: 53200, Gastos Totais: 52500, Lucro Mensal: 700
Mês: 3, Faturamento Total: 53300, Gastos Totais: 55000, Lucro Mensal: -1700
Mês: 4, Faturamento Total: 52800, Gastos Totais: 57500, Lucro Mensal: -4700
Mês: 5, Faturamento Total: 53200, Gastos Totais: 60000, Lucro Mensal: -6800
Mês: 6, Faturamento Total: 53300, Gastos Totais: 62500, Lucro Mensal: -9200
Mês: 7, Faturamento Total: 53300, Gastos Totais: 65000, Lucro Mensal: -11700
Mês: 8, Faturamento Total: 53200, Gastos Totais: 67500, Lucro Mensal: -14300
Mês: 9, Faturamento Total: 53000, Gastos Totais: 70000, Lucro Mensal: -17000
Mês: 10, Faturamento Total: 53200, Gastos Totais: 72500, Lucro Mensal: -19300
Mês: 11, Faturamento Total: 52900, Gastos Totais: 75000, Lucro Mensal: -22100
Mês: 12, Faturamento Total: 53000, Gastos Totais: 77500, Lucro Mensal: -24500

Loja ID: 4
Lucro Anual: -88900
Mês: 1, Faturamento Total: 53100, Gastos Totais: 46000, Lucro Mensal: 7100
Mês: 2, Faturamento Total: 52800, Gastos Totais: 49000, Lucro Mensal: 3800
Mês: 3, Faturamento Total: 52800, Gastos Totais: 51500, Lucro Mensal: 1300
Mês: 4, Faturamento Total: 53000, Gastos Totais: 54000, Lucro Mensal: -1000
Mês: 5, Faturamento Total: 52700, Gastos Totais: 56500, Lucro Mensal: -3800
Mês: 6, Faturamento Total: 52700, Gastos Totais: 59000, Lucro Mensal: -6300
Mês: 7, Faturamento Total: 53000, Gastos Totais: 61500, Lucro Mensal: -8500
Mês: 8, Faturamento Total: 52400, Gastos Totais: 64000, Lucro Mensal: -11600
Mês: 9, Faturamento Total: 52800, Gastos Totais: 66500, Lucro Mensal: -13700
Mês: 10, Faturamento Total: 53200, Gastos Totais: 69000, Lucro Mensal: -15800
Mês: 11, Faturamento Total: 52900, Gastos Totais: 71500, Lucro Mensal: -18600
Mês: 12, Faturamento Total: 52200, Gastos Totais: 74000, Lucro Mensal: -21800

Loja ID: 5
Lucro Anual: -54500
Mês: 1, Faturamento Total: 48200, Gastos Totais: 42000, Lucro Mensal: 6200
Mês: 2, Faturamento Total: 49300, Gastos Totais: 44500, Lucro Mensal: 4800
Mês: 3, Faturamento Total: 53500, Gastos Totais: 47000, Lucro Mensal: 6500
Mês: 4, Faturamento Total: 51000, Gastos Totais: 49500, Lucro Mensal: 1500
Mês: 5, Faturamento Total: 51000, Gastos Totais: 52000, Lucro Mensal: -1000
Mês: 6, Faturamento Total: 51700, Gastos Totais: 54500, Lucro Mensal: -2800
Mês: 7, Faturamento Total: 51200, Gastos Totais: 57000, Lucro Mensal: -5800
Mês: 8, Faturamento Total: 52200, Gastos Totais: 59500, Lucro Mensal: -7300
Mês: 9, Faturamento Total: 50900, Gastos Totais: 62000, Lucro Mensal: -11100
Mês: 10, Faturamento Total: 50900, Gastos Totais: 64500, Lucro Mensal: -13600
Mês: 11, Faturamento Total: 53000, Gastos Totais: 67000, Lucro Mensal: -14000
Mês: 12, Faturamento Total: 51600, Gastos Totais: 69500, Lucro Mensal: -17900